<!DOCTYPE html>
<html>

<head>
    <title>Proyecto Handlebars y Websocket</title>
</head>

<body>
    <!-- Menú de navegación -->
    <nav>
        <!-- Contenido del menú -->
      
    </nav>

    <!-- Contenido de la página -->
    <div class="content">
        {{{body}}} <!-- Aquí se incluirá el contenido específico de cada página -->
    </div>

    <!-- Pie de página -->
    <footer>
        <!-- Contenido del pie de página -->
    </footer>
</body>

</html>
