<!DOCTYPE html>
<html>
<head>
    <title>Proyecto Handlebars y Websocket</title>
</head>
<body>
    <h1>Bienvenido al Proyecto Handlebars y Websocket</h1>
    <p>Esta es la página principal de la aplicación.</p>
    <a href="/home">Ir a la lista de productos</a>
</body>
</html>
